:root {
    --color-text: #3B2A2A;
    --color-primary: #A65D4B;
    --color-secondary: #D9A066;
    --color-plain: #FFF4E6;
    --color-accent: #F28C4B;

    --spacing-tiny: 0.25rem;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
    --spacing-huge: 3rem;

    --font-body-small: 16px;
    --font-body-medium: 20px;
    --font-body-large: 24px;
    --font-h1-small: 32px;
    --font-h1-medium: 42px;
    --font-h1-large: 52px;
    --font-footer: 1rem;

    --shadow: 0 9px 18px rgba(0,0,0,0.2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-text);
    text-justify: inter-word;
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: normal;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--font-body-small);
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    background-color: var(--color-plain);
    overflow-x: hidden;
}

#header {
    display: flex;
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--color-primary);
    box-shadow: var(--shadow);
    z-index: 1000;
}

#header nav {
    display: flex;
}

#header span.nav-item {
    background-color: var(--color-secondary);
}

#header a {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-text);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#header a:hover {
    transform: scale(1.1);
    box-shadow: var(--shadow);
}

#main {
    grid-area: main;
    min-height: 70vh;
    padding: var(--spacing-huge);
    flex-direction: column;
    gap: var(--spacing-medium);
    text-align: justify;
}

#main h1 {
    text-align: center;
    margin-bottom: var(--spacing-huge);
}

#main .card-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--spacing-large)
}

#main .card {
    background-clip: padding-box;
    border: var(--spacing-tiny) solid var(--color-primary);
    border-radius: var(--spacing-large);
    text-decoration: none;
    overflow: hidden;
}

#main .card:hover {
    box-shadow: var(--shadow);
}

#main .card > * {
    padding: var(--spacing-medium);
}

#main .card h6 {
    background-color: var(--color-secondary);
    font-size: var(--font-body-medium);
    font-weight: bold;
    text-align: center;
}

#main .admonition {
    padding: var(--spacing-medium);
    background-color: var(--color-secondary);
    background-clip: padding-box;
    border: var(--spacing-tiny) solid var(--color-primary);
    border-radius: var(--spacing-large);
    overflow: hidden;
}

#footer {
    grid-area: footer;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: var(--spacing-large);
}

@media only screen and (max-width: 600px) {
    #header nav {
        justify-content: space-between;
        align-items: stretch;
    }

    #header a {
        padding: var(--spacing-small);
        width: 25vw;
    }

    #main h1 {
        font-size: var(--font-h1-small);
    }

    #main .card {
        grid-column: span 6;
    }

    #footer {
        text-align: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    #header nav {
        justify-content: space-around;
        align-items: stretch;
    }

    #header a {
        padding: var(--spacing-small);
        width: 25vw;
    }

    #main h1 {
        font-size: var(--font-h1-small);
    }

    #main .card {
        grid-column: span 3;
    }

    #footer {
        text-align: center;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    #header a {
        font-size: var(--font-body-medium);
        padding: var(--spacing-medium);
    }

    #main h1 {
        font-size: var(--font-h1-medium);
    }

    #main .card {
        grid-column: span 2;
    }

    #footer {
        text-align: left;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    #header a {
        font-size: var(--font-body-medium);
        padding: var(--spacing-medium);
    }

    #main h1 {
        font-size: var(--font-h1-medium);
    }

    #main .card {
        grid-column: span 2;
    }

    #footer {
        text-align: left;
    }
}

@media only screen and (min-width: 1201px) {
    #header a {
        font-size: var(--font-body-medium);
        padding: var(--spacing-large);
    }

    #main h1 {
        font-size: var(--font-h1-large);
    }

    #main .card {
        grid-column: span 2;
    }

    #footer {
        text-align: left;
    }
}