:root {
    --darkest: rgb(50, 20, 10);
    --dark: rgb(150, 60, 30);
    --light: rgb(180, 100, 50);;
    --lightest: rgb(240, 208, 148);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    background-color: var(--lightest);
    gap: 10px;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

#header {
    display: flexbox;
    grid-area: header;
    background-color: var(--dark);
    color: var(--darkest);
    margin: 0;
}

#header span.nav-item {
    background-color: var(--light);
}

#header a {
    display: inline-block;
    background-color: var(--dark);
    color: var(--darkest);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#header a:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

#main {
    display: flexbox;
    grid-area: main;
    min-height: 70vh;
    padding: 1rem;
}

#main h1 {
    text-align: center;
}

#footer {
    display: flexbox;
    grid-area: footer;
    background-color: var(--dark);
    color: var(--darkest);
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    #header nav {
        display: flex;
        justify-content: space-around;
    }

    #header a {
        padding: 1em;
    }

    #main h1 {
        font-size: 35px;
    }

    #footer {
        text-align: center;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    #header nav {
        display: flex;
        justify-content: space-around;
    }

    #main h1 {
        font-size: 35px;
    }

    #header a {
        padding: 1em;
    }

    #footer {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #header a {
        padding: 1em;
    }

    #main h1 {
        font-size: 40px;
    }

    #footer {
        text-align: left;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #header a {
        padding: 1em;
    }

    #main h1 {
        font-size: 40px;
    }

    #footer {
        text-align: left;
    }
}

@media only screen and (min-width: 1200px) {
    #header a {
        padding: 1em;
    }

    #main h1 {
        font-size: 50px;
    }

    #footer {
        text-align: left;
    }
}